<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.css" type="text/css" />
    <title>Primes</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
